{% extends 'base.html' %}
{% block body_block %}
<h2><b>Add Book to the Catlog</b> </h2>
<br>
<form class="" action="" method="POST">
  <p>Book Name :</p>
  <p>{{ form.title }}</p>
  <p>Author : </p>
  <p>{{ form.author }}</p>
  <p>Ratting:</p>
  <p>{{ form.avg_ratting }}</p>
  <p>Book Format:</p>
  <p> {{ form.format }}</p>
  <p>Cover Picture: </p>
  <p>{{ form.image }}</p>
  <p>Number of pages: </p>
  <p>{{ form.num_pages}}</p>
  <p>Publisher ID: </p>
  <p>{{ form.pub_id }}</p>
  <input class="btn btn-primary" type="submit" name="" value="Add Book">
</form>
{% endblock %}
