{% extends 'base.html' %}
{% block body_block %}
<form class="" action="" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
   {{ form.hidden_tag() }}  <!-- CSRF token in Flask -->
   <div class="form-group">
       <p>User Name: </p>
       <p> {{ form.name}} </p>
       <p>Password: </p>
       <p>{{ form.password }}</p>

     </div>
     <div class="checkbox">
       <label><input type="checkbox"> Remember me</label>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>








<!--
    <p>Enter your name: {{ form.name}}</p>
    <p>Password       : {{ form.password }}</p>

    <input class="btn btn-primary" type="submit" name="" value="Submit"> -->


</form>
<br>
<br>
{% if request.method == "POST" %}
  <h3>Hi {{name}}, you have registered with us via your mail id {{ email }}</h3>

  <h4>{{Users_lst}}</h4>
{% endif %}
{% endblock %}
